*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wasm-example {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #edede9;
    width: 1280px;
    height: 739px;
}